# sydbox's .gitignore

#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.la
*.lo
*.gz
*.bz2
*.lzma
*.lzo
*.xz
*.patch
*.gcno

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# backup files
*.orig
*~
\#*#

# autohell
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1

Makefile.in
Makefile

# libtool
.deps
.libs
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4

# Specific ignores
man/sydbox.1
man/sydbox.html

src/sydbox

tests/test-lib.sh
tests/test-results
tests/temporary*
tests/trash*
tests/emily
tests/wildtest
tests/t[0-9][0-9][0-9]*
!tests/t[0-9][0-9][0-9]*.c
!tests/t[0-9][0-9][0-9]*.sh

/include/pinktrace/about.h
/include/pinktrace/bitness.h
/include/pinktrace/system.h

/pkg-config/pinktrace.pc
/pkg-config/pinktrace_easy.pc

/pinktrace/pinktrace-check
